<heade class="header">
      <nav class="nav">
        <img src="" alt="Logotype">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tareas</a></li>
            <li><a href="#">complidas</a></li>
        </ul>
        <button>Cerrar session</button>
      </nav> 
</heade>   